.defaultHero,
.carHero {
    min-height: calc(100vh - 66px);
    background: url('https://cdn.pixabay.com/photo/2017/03/20/04/57/truck-2158284__340.png') center/cover no-repeat;
// margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
};
.carHero { 
    background-image: url('https://cdn.pixabay.com/photo/2016/11/22/23/44/buildings-1851246__340.jpg');
    min-height: 80vh;
    margin: 0;
}
.errorCarHero { 
    background: url('https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569__340.jpg') center/cover no-repeat;
    min-height: calc(100vh - 66px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* banner */

.banner { 
    width: 90vw;
    height: fit-content;
    display: inline-block;
    background: rgba(0, 0, 0, 0.52);
    color: wheat;
    padding: 2rem 1rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing:var(--mainSpacting) ;
    
    .banner-center {
        width: 20vw;
        height: 5px;
        background-color: white;
        margin: 1.7rem auto;
    }
};

@media screen and (max-width: 1000px) { 
.banner {
    width: 90vw;
    height: 40vh ;
    display: inline-block;
    background: rgba(0, 0, 0, 0.52);
    color: wheat;
    padding: 2rem 1rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing:var(--mainSpacting) ;
    font-size: 20px;

    h1 {
        font-size: 20px;
    }
    .cardContainer {
        display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
    }
}
}
.carGalleryContainer {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .car-imgages,
    .car-info {
        width: 50%;
    }
    // min-height: min-content;
    @media screen and (max-width: 1000px) { 
        .bigImgGallery {
            width:90%;
            
        }
        
    }
}
.services .section_title { 
    height:20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(12, 12, 12, 0.787);

    div {
        width: 10vw;
        height: 5px;
        background-color: black;
        margin: 1.7rem auto;
    }

  
  }
  .services_center { 
     display: flex;
     justify-content: space-evenly;
     background-color: inherit;
    background-color: rgba(12, 12, 12, 0.787);
    height: 35vh;

       .services_artical {
        display: inherit;
        flex-direction: column;
        align-items: center;
        width: 30vw;

        span {
            color: rgb(82, 56, 8);
            font-size: 50px;
        }
        p {
            text-align: center;
        }
       }
      
    }
    @media screen and (max-width: 1000px) {
        .services_center {
            display: flex;
            justify-content: space-around;
            
        }
        .services_artical{
            font-size: 15px;
        }
      }
      @media screen and (max-width: 550px) {
        .services_center {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow: hidden;
            
        }
        .services_artical{
            font-size: 15px;
            overflow: hidden;
            margin: 5px;
        }
      }
      .cardContainer { 
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;  

        
    }
        .car_card {
            display: flex;
            justify-content: center;
            flex-direction: column;
         
    
        }
        .car_data { 
        grid-area: 1 / 1 / 5 / 4;
        display: inherit;
            flex-direction: column;
            justify-content: center;
         margin: 15px;
        box-shadow: 5px 10px;  

     
        }
         .car_info { 
             height: 10vh;
             background-color: red;
         }


             .featured_car_center { 
             display: flex;
             justify-content: space-evenly; 
              }
         .img_container {
             display: flex;
              justify-content: center;
            padding: 1rem;
            flex-direction: column;

         }
              .price { 
                  background-color: black;
                  color: white;
                  display: flex;
                  align-items: center;
                  width: inherit;
                  justify-content: space-around;
                  padding: 10px;

                  h4 h3 {
                margin: 0;
                  }
              }
         
.filter-cars-container,.empty-search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    .filrter-form {
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        width: 90vw;
        height: 15vh;
        margin: 15px;
        font-size: 20px;
        
        .form-group{ 
            margin-left: 5%;
        }
        // input {
        //     width: 50%;
        // }
        select { 
            width: 100%;
        }
    }
}

.homeBanner { 
    height:35vh;
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content:center
    }
    .footer-container {
        min-height: 15vh;
        background-color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
        bottom: 0;
        width: 100%;
        // .footer-contact {
        //     // margin-left: 20px;
        // }
           .footer-logo{
            color: wheat;
            float: right;
           }
    }
    #auth-container { 
       display: flex;
       flex-direction: column;
       justify-content: center;
       height: 100vh;
       form, h1{ 
        margin-bottom: 5px;
        display: inherit;
        align-items: center;
        flex-direction: column;
        input {
            margin-bottom: 5px;
        }
        input[type='submit']{ 
            cursor: pointer;
        }
       }
    
      
    }

    .landing-container {
        // display: flex;
    height: calc(100vh - 3px);
    width: 100%;
    video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: -1;
    }
    h1{
        position: absolute;
        top: 50%;
        left: 40%;
     }
       
    }