.defaultHero,
.carHero {
    min-height: calc(100vh - 66px);
    background: url('https://cdn.pixabay.com/photo/2017/03/20/04/57/truck-2158284__340.png') center/cover no-repeat;
margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
};
.carHero { 
    background-image: url('https://cdn.pixabay.com/photo/2016/11/22/23/44/buildings-1851246__340.jpg');
    min-height: 80vh;
    margin: 0;
}
.errorCarHero { 
    background: url('https://cdn.pixabay.com/photo/2017/03/09/12/31/error-2129569__340.jpg') center/cover no-repeat;
    min-height: calc(100vh - 66px);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* banner */

.banner { 
    width: 60%;
    height: calc(60vh - 100px);
    display: inline-block;
    background: rgba(0, 0, 0, 0.52);
    color: wheat;
    padding: 2rem 1rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing:var(--mainSpacting) ;
    
    div {
        width: 20vw;
        height: 5px;
        background-color: white;
        margin: 1.7rem auto;
    }
};
.services .section_title { 
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(12, 12, 12, 0.787);

    div {
        width: 10vw;
        height: 5px;
        background-color: black;
        margin: 1.7rem auto;
    }

  
  }
  .services_center { 
     display: flex;
     justify-content: space-evenly;
     background-color: inherit;
    background-color: rgba(12, 12, 12, 0.787);

       .services_artical {
        display: inherit;
        flex-direction: column;
        align-items: center;
        span {
            color: rgb(82, 56, 8);
            font-size: 50px;
        }
       }
      
    }
    @media screen and (max-width: 1000px) {
        .services_center {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            
        }
        .services_artical{
            border: 1px solid black;
        }
      }
      .cardContainer { 
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;  
        background-color: rgb(47, 23, 23);        
        
    }
        .car_card {
            display: flex;
            justify-content: center;
            flex-direction: column;
         
    
        }
        .car_data { 
        grid-area: 1 / 1 / 5 / 4;
        display: inherit;
            flex-direction: column;
            justify-content: center;
         margin: 15px;

     
        }
         .car_info { 
             height: 10vh;
             background-color: red;
         }


             .featured_room_center { 
             height: 80vh;
             display: flex;
             justify-content: space-evenly; 
              }
         .img_container {
             background-color: cadetblue;
         }
              .price { 
                  h4 h5 {
                      margin: 0;
                  }
                  background-color: rgb(78, 76, 76);
                  display: flex;
                  justify-content: space-around;
              }
         

